<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock%}</title>
    <link rel="icon" href="data:,">
    <!--    Charts API      -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

    <!--    Google Fonts    -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">

    <!--    Linking Javascript and CSS      -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{url_for('static', filename='libraries/p5.js')}}"></script>
    <script src="{{url_for('static', filename='libraries/jquery.js')}}"></script>

    {% block script %}{% endblock %}

    <!--    Jquery CDN in case it fails     -->
    <!--    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->
</head>
<body>

{% block content %}
{% endblock %}

</body>
</html>