{% extends 'base.html' %}
{% block title %}
Home Page
{% endblock %}
{% block script %}
<script src="{{url_for('static', filename='sketch.js')}}"></script>
<script src="{{url_for('static', filename='particle.js')}}"></script>
{% endblock %}

{% block content %}
<div>
    <button onclick="save_img()">Save</button>
</div>
<script>
    function save_img(){
        let canvas = document.getElementById("defaultCanvas0")
        let dataURL = canvas.toDataURL("image/png");
        dataURL = dataURL.replace(/^data:image\/(png|jpg);base64,/, "");

        let entry = {
            "data" : dataURL
        };
        //console.log(name);
        let name = window.origin;
        name += "/data";
        /*fetch("http://127.0.0.1:5000/data", {
            method: "POST",
            body: entry,
            cache: "no-cache"
        })*/

        fetch(name, {

            method: 'POST',
            body: JSON.stringify(entry)
        }).then(function (response) {
            // At this point, Flask has printed our JSON
            return response.text();
        }).then(function (text) {
            console.log('POST response: ');
            // Should be 'OK' if everything was successful
            change(text)
            console.log("Done");
        });
    }
</script>
{% endblock %}