{% extends 'base.html' %}
{% block title %}
Home Page
{% endblock %}
{% block script %}
<script src="{{url_for('static', filename='sketch.js')}}"></script>
<script src="{{url_for('static', filename='particle.js')}}"></script>
{% endblock %}

{% block content %}


    <div class="banner">
        <h1>MNIST Digit Recognition</h1>
    </div>

    <div class="middle">
        <div class="canv_holder" id="canv_pos" style="float:left">

        </div>
        <div style="width: 60%; float:right" id="right_side">

            <div class="data_up">
                <h1>HOOOOOO</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consequuntur deserunt id libero necessitatibus, nihil recusandae! Accusamus, accusantium beatae cupiditate debitis delectus facere, illum incidunt libero nostrum quam quibusdam, voluptates?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium dolore, dolores eaque eos eveniet ipsum, libero nihil nobis nostrum odio odit qui quisquam sed unde veniam! Alias obcaecati quas voluptate.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium dolore, dolores eaque eos eveniet ipsum, libero nihil nobis nostrum odio odit qui quisquam sed unde veniam! Alias obcaecati quas voluptate.</p>
            </div>
            <div class="data_down">
                <button class="big-button" id="save_butt" onclick="save_img()">Save</button>
                <button class="" onclick="clear_canvas()">Clear</button>
            </div>

        </div>
        <br style="clear:both;"/>

    </div>
    <div class="bottom" id="display">

        <div class="bot_canv" id="bot_disp">

        </div>
        <p id="p_tag">Draw a digit</p>
    </div>
    <div class="foot">
        <h3>&#169 Created by Aviral</h3>
    </div>


<script>
    $("#save_butt").on('click',function() {
        $('html, body').animate({
            'scrollTop' : $("#bot_disp").position().top
        }, 3000);
    });

    function clear_canvas(){
        reset();
    };

    function save_img(){
        let canvas = document.getElementById("defaultCanvas0")
        document.getElementById("save_butt").disabled = true;
        let dataURL = canvas.toDataURL("image/png");
        dataURL = dataURL.replace(/^data:image\/(png|jpg);base64,/, "");

        let entry = {
            "data" : dataURL
        };
        //console.log(name);
        let name = window.origin;
        name += "/data";


        fetch(name, {

            method: 'POST',
            body: JSON.stringify(entry)
        }).then(function (response) {
            // At this point, Flask has printed our JSON
            return response.text();
        }).then(function (text) {
            console.log('POST response: ');
            // Should be 'OK' if everything was successful
            change(text)
            console.log("Done");
            document.getElementById("save_butt").disabled = false;
            let pay_load = "Number Recognised: " + text;
            let p_tag = document.getElementById("p_tag").innerHTML = pay_load;

        });
    }
</script>
{% endblock %}